<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:tx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Get all book</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

All books:
<table border="1">
    <tr>
        <td>Author</td>
        <td>Title</td>
        <td>Price</td>
    </tr>
    <tr th:each="b: ${book}">
        <td th:text="${b.author}">Author22</td>
        <td th:text="${b.title}">Title22</td>
        <td th:text="${b.price}">Price22</td>
    </tr>
</table>



<ul >
    <li th:each="b: ${books}" th:text="|${b.author} - ${b.title} (${b.price})|">Book 1</li>
</ul>

<a href="book/add.html" th:href="@{/book/add}">Add book</a>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>